html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #31343f;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1470px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 auto;
}

.logo-icon {
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
