@import "./null.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #31343f;
  color: #fff;
}

input {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1470px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 auto;
}

.logo-icon {
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h3,
h2 {
  font-size: 20px;
  font-weight: 700;
}

.relative {
  position: relative;
}

.page-text-block {
  margin-top: 40px;
  h3 {
    margin-bottom: 15px;
  }
  p {
    line-height: 1.5;
    font-size: 14px;
  }
}

.icon-arrow {
  display: block;
  position: relative;
  width: 16px !important;
  height: 16px !important;
  transform: rotate(180deg);
  svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition-duration: 0.3s;
  }
  svg:first-child {
    width: 100%;
    height: 100%;
  }
  svg:last-child {
    top: calc(50%);
    opacity: 0;
  }
}

.acc-hover {
  @media (min-width: 901px) {
    &:hover {
      .icon-arrow {
        svg:last-child {
          top: calc(50% - 5px);
          opacity: 1;
        }
      }
    }
  }
}

@import "./loader";
