.body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.flex {
  display: flex;
}

.page {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

// @media (max-width: 1350px) {
//   .page {
//     padding-left: 120px;
//   }
// }

@media (max-width: 1200px) {
  .page {
    padding-left: 0;
  }
  .flex {
    flex: 1 1 auto;
  }
}
