.range-slider {
  .rc-slider-handle {
    width: 21px;
    height: 21px;
    background-color: #fff;
    border: none !important;
    box-shadow: none !important;
    top: -2px;
    // transform: translateY(-50%) !important;
    opacity: 1;
    margin: 0;
    z-index: 5px;

    &[data-hide] {
      display: none;
    }
  }
  .rc-slider-rail,
  .rc-slider-track,
  .rc-slider-tracks,
  .rc-slider-step {
    height: 7px;
  }

  .rc-slider-dot {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    background: transparent;
    border: none;
    top: 50%;
    transform: translate(-50%, -50%) !important;

    &.hide {
      opacity: 0 !important;
    }
    &.active {
      // opacity: 1 !important;
      .prem-dot {
        img {
          opacity: 1 !important;
        }
      }
    }
  }
}

.prem-dot {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    height: 13px;
    background-color: #fff;
    border-radius: 5px;
  }

  @media (min-width: 901px) {
    &:hover {
      background: rgba(255, 255, 255, 0.159);
    }
  }
}

.prem-top-dot {
  img {
    opacity: 0.7;
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);
    transition-duration: 100ms;
  }
  @media (min-width: 901px) {
    &:hover {
      img {
        opacity: 1;
      }
      background: transparent !important;
    }
  }
}

.prem-free {
  img {
    position: absolute;
    top: calc(50% + 4px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    display: none !important;
  }
}
