:root {
  --bg-main: #304450;

  --sticky-top-header: 0px;
  --sticky-top-sidebar: 82px;
  --sticky-top-page-header: 82px;

  --btn-color: #22252f;
  --btn-hover-color: #656876;
  --btn-active-color: #6064c2;

  --btn-text-color: transparent;

  --btn-tg-hover: #424580;
}
