.scrollbar {
  overflow: hidden;
}

.simplebar-vertical {
  width: 4px !important;
  background-color: #242b36;
  border-radius: 5px;
  right: -11px !important;
  .simplebar-scrollbar::before {
    width: 2px;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.7);
    transform: translateX(-50%);
    left: 50%;
  }
}

.simplebar-horizontal {
  height: 4px !important;
  background-color: transparent;
  bottom: -6px !important;
  .simplebar-scrollbar::before {
    height: 2px;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.7);
    transform: translateY(-50%);
    top: 50%;
  }
}

.scroll-hide {
  .simplebar-track {
    opacity: 0 !important;
  }
  &:hover .simplebar-track {
    opacity: 1 !important;
  }
}
.simplebar-track {
  transition-duration: 0.1s;
  transition-delay: 0s !important;
}
.scroll-hide {
  .simplebar-track {
    opacity: 0;
  }
  @media (min-width: 901px) {
    &:hover {
      .simplebar-track {
        opacity: 1;
      }
    }
  }
  &.simplebar-scrolling {
    .simplebar-track {
      opacity: 1;
    }
  }
}

.scrollbar-track-0 {
  .simplebar-vertical {
    right: 0 !important;
  }
}

.simplebar-placeholder {
  width: 100% !important;
}
