.history-table {
  overflow: visible !important;
  width: auto !important;
  .huezRP {
    background-color: transparent;
  }
  .ibgBY {
    max-height: 100vh;
  }
  .fxvrKk {
    top: -1px !important;
  }
  .faZveH {
    min-width: 117px;
  }
  .rdt_TableHead {
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    .rdt_TableHeadRow {
      background-color: #0197cf;
    }
    > div {
      height: 100%;
      min-height: auto;
    }
    .cYgW {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .rdt_TableBody {
    .kUMlDB {
      color: #ffffffb2;
      font-size: 10px;

      background-color: transparent;
    }
  }
}
