.opacity {
  opacity: 0;
}
.opacity-enter {
  opacity: 0;
}
.opacity-enter-active {
  opacity: 1;
  visibility: visible;
  transition-duration: 300ms;
}
.opacity-enter-done {
  opacity: 1 !important;
}
.opacity-exit {
  opacity: 1;
  visibility: visible;
}
.opacity-exit-active {
  opacity: 0;
  transition-duration: 300ms;
}
