.item {
  margin-top: 10px;
  border-radius: 5px;
}

.header {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #22252f;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    transform: rotate(180deg);
  }
  span {
    transition-duration: 0.3s;
    flex: 0 0 15px;
    width: 15px;
    line-height: 0;
  }
}

.country {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  overflow: hidden;
  img {
    margin-right: 20px;
  }
  p {
    white-space: nowrap;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
}

.body {
  overflow: hidden;
  transition-duration: 0.3s;
}
