.item {
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 700;
}

.header {
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    transition-duration: 0.3s;
  }
  span {
    transition-duration: 0.3s;
    flex: 0 0 15px;
    width: 15px;
    line-height: 0;
  }

  @media (min-width: 901px) {
    &:hover {
      color: #65a3ff;
    }
  }
}

.country {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  overflow: hidden;
  img {
    margin-right: 20px;
  }
  p {
    white-space: nowrap;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
}

.body {
  overflow: hidden;
  transition-duration: 0.3s;
}
