.search {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-size: 12px;
  margin-top: 10px;
  svg {
    width: 16px;
    height: 16px;
    margin-right: 20px;
  }
}

.list,
.country {
  height: 95%;
  padding-bottom: 20px;
}

.list {
  padding-bottom: 5px;
}

.empty {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-top: 5%;
}

@media (max-width: 500px) {
  .search {
    border: 1px solid #59caa1;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
