.search {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  svg {
    margin-right: 10px;
  }
}

.list,
.country {
  height: 100%;
}

.list {
  padding-bottom: 5px;
}
