.search {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  svg {
    margin-right: 10px;
  }
}

.list,
.country {
  height: 95%;
  padding-bottom: 20px;
}

.list {
  padding-bottom: 5px;
}

.empty {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-top: 5%;
}
