.body {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  border-radius: 8.432px;
  background: linear-gradient(267deg, #ab44dc 4.77%, #9b4459 101.78%);
  backdrop-filter: blur(8.432093620300293px);
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}
.text {
  margin-bottom: 1px;
  i {
    font-style: normal;
  }
  span {
    font-size: 20px;
    color: #ffd748;
  }
}

@media (max-width: 900px) {
  .body {
    font-size: 12px;
    padding: 13px 10px;
    margin-bottom: 10px;
  }
  .text {
    span {
      font-size: 16px;
    }
    i {
      font-style: normal;
    }
  }
}

@media (max-width: 500px) {
  .text i {
    display: none;
  }
}
