.body {
  font-size: 16px;
  color: #1c1c1c;
  border-radius: 2.738px;
  background: linear-gradient(
    267deg,
    #615129 -2.6%,
    #746745 49.94%,
    #a48f5a 103.36%
  );
  backdrop-filter: blur(11.544775009155273px);
  flex: 0 0 106px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
