.body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 20;
  display: flex;
  justify-content: center;
  visibility: hidden;
  transition-duration: 0.3s;
  padding-top: 10%;
}

.show {
  visibility: visible;

  .wrapper,
  .bg {
    opacity: 1;
    visibility: visible;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5.300000190734863px);
}
.wrapper {
  position: relative;
  z-index: 1;
}

.bg,
.wrapper {
  transition-duration: 0.3s;
  opacity: 0;
  visibility: hidden;
}
