.body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 20;
  display: flex;
  justify-content: center;
  visibility: hidden;
  transition-duration: 200ms;
  opacity: 0;
  padding-top: 10%;
  align-items: flex-start;
}

.show,
.visible {
  visibility: visible;

  .wrapper,
  .bg {
    opacity: 1;
    visibility: visible;
  }
}
.show {
  opacity: 1;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5.300000190734863px);
}

.wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  overflow: auto;
  border-radius: 5px;
  background: radial-gradient(
      260.1% 120.1% at 50% 105.03%,
      rgba(26, 201, 239, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #22252f;
}

.bg,
.wrapper {
  transition-duration: 100ms;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 20px;
  margin-bottom: 5px;
  padding: 15px 0px;

  button {
    width: 31px;
    height: 31px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 100ms;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    @media (min-width: 901px) {
      &:hover {
        background-color: var(--btn-hover-color);
      }
    }
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
  flex: 1 1 auto;
}

.content {
  padding: 15px 20px;
  padding-top: 5px;
}

.wrapperTitle {
  padding-top: 0 !important;
}

@media (max-width: 900px) {
  .body {
    padding-top: 0;
  }
  .wrapper {
    flex: 1 1 100% !important;
    height: 100%;
    justify-content: center;
    padding-top: 8%;
    border-radius: 0px;
  }
}

@media (max-width: 1250px) {
  .content {
    padding-bottom: 65px;
  }
}

@media (max-width: 500px) {
  .body {
    left: -100%;
    opacity: 1 !important;
  }
  .show {
    left: 0;
  }

  .wrapper {
    background: #293b45;
    opacity: 1 !important;
  }

  .header {
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;

    button {
      width: 28px;
      height: 28px;
      right: 20px;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  .title {
    font-size: 20px;
    text-align: left !important;
  }
}
