.body {
  padding-bottom: 10px;
}
.title {
  padding-top: 5px;
  line-height: 1.4;
}
.filter {
  position: sticky;
  z-index: 17;
  top: 0;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: var(--bg-main);
}

@media (max-width: 500px) {
  .title {
    margin-bottom: 10px;
  }
  .filter {
    padding-top: 10px;
  }
}
