.body {
  width: 100%;
  margin-top: 10px;
  &:first-child {
    margin-top: 0px;
  }
  .body {
    margin-top: 0px;
    .header {
      z-index: 3;
      background: #2b2d36;
    }
  }
}

.list {
  overflow: clip;
  transition-duration: 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background: #232630;
  border-radius: 5px;
  z-index: 4;
  margin-bottom: 5px;

  h2 {
    font-size: inherit;
  }

  > div {
    display: flex;
    align-items: center;
  }
}

.right {
  button {
    margin-left: 20px;
    transition-duration: 0.3s;
  }
}

.sport {
  font-weight: 700;
  img {
    margin-right: 10px;
  }
}

@media (max-width: 440px) {
  .body {
    font-size: 10px;
  }
  .header {
    padding: 5px 10px;
  }
  .sport img {
    width: 17px;
    height: 17px;
  }
}
