.body {
  margin: 20px 0px;

  .btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(
      268deg,
      rgba(101, 104, 118, 0.3) -20.78%,
      rgba(92, 191, 233, 0.3) 95.9%
    );
  }
}

.inputDiv {
  span {
    position: absolute;
    right: 0;
    top: -27px;
    color: #d95555;
    font-size: 10px;
    text-align: right;
    display: block;
    margin-top: 3px;
  }
}

.input {
  width: 100%;
  font-size: 14px;
  padding: 0px 20px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.inputDashed {
  width: 100%;
  font-size: 14px;
  padding: 0px 20px;
  height: 37px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.restore {
  font-size: 10px;
  text-align: left;
  margin-right: auto;
  display: block;
  transition-duration: 100ms;
  @media (min-width: 901px) {
    &:hover {
      color: #ffd361;
    }
  }
}

.submit {
  width: 100%;
  height: 42px;
  font-weight: 400;
  margin: 10px 0;
}

.cart {
  display: flex;
  font-size: 14px;
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 20px;
  svg {
    flex: 0 0 35px;
    height: 37px;
    margin-right: 20px;
  }
}

.label {
  margin-bottom: 10px;
  font-size: 14px;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;

  .inputDiv {
    flex: 1 1 auto;
  }
  .back {
    flex: 0 0 49px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .body {
    margin: 10px 0px;

    .btn {
      margin-top: 0;
    }
  }
}
