.body {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
      260.1% 120.1% at 50% 105.03%,
      rgba(26, 201, 239, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #22252f;
  transition-duration: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.open {
  opacity: 1;
  visibility: visible;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  p {
    font-size: 20px;
    font-weight: 700;
  }

  button {
    border-radius: 50%;
  }
}

.content {
  padding: 15px 20px;
  height: 341px;
}

.item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #d9d9d976;
  margin-right: 17px;

  > img,
  > svg {
    margin-right: 10px;
    width: 20px;
    flex: 0 0 20px;
    height: 20px;
    display: block;
  }

  &:last-child {
    border-bottom: 1px solid transparent;
  }
}

.itemTitle {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 12px;
}

.itemText {
  font-size: 14px;
  line-height: 1.4;
}
