.wrapper {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.content {
  z-index: 2;
  flex: 1 1 auto;
}
.bg1,
.bg2 {
  position: absolute;
  z-index: 0;
  object-fit: contain;
}

.bg1 {
  left: 0px;
  top: 0;
}

.bg2 {
  top: 0;
  right: 0;
}
