.body {
  border-radius: 5px;
  background: rgba(34, 37, 47, 0.5);
  position: relative;
  padding: 30px;
  overflow: hidden;

  > p {
    max-width: 752px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
  }
}
.best {
  // background: radial-gradient(
  //     81.28% 57.65% at 94.21% -27.9%,
  //     rgba(176, 146, 66, 0.2) 0%,
  //     rgba(176, 146, 66, 0) 100%
  //   ),
  //   #22252f;
}
.content {
  display: flex;
  justify-content: space-between;
}

.left {
  margin-top: 1px;
  flex: 0 0 185px;
}

.status {
  margin-right: 10px;
}

.title {
  margin-right: auto;
  font-size: 16px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item {
  line-height: 1.4;
  margin-top: 10px;
  &:first-child {
    margin-top: 0px;
  }
  p {
    font-size: 12px;
  }
  h4 {
    font-weight: 700;
    font-size: 14px;
  }
}

.right {
  flex: 0 1 582px;
  margin-left: 20px;
}
.text {
  line-height: 1.5;
  font-size: 12px;
  overflow: hidden;
  transition-duration: 100ms;
  p {
    padding-right: 10px;
  }
}

.riskLine {
  position: absolute;
  left: 0px;
  top: 0%;
  height: 100%;
  width: 7px;
}

.accorBtn {
  width: 100%;
  margin-top: 10px;
  height: 30px !important;
  span {
    transition-duration: 100ms;
  }
}

@media (max-width: 1250px) {
  .right {
    flex: 1 1 auto;
  }
}

@media (max-width: 1200px) {
  .text {
    flex: 1 1 auto;
  }
}

@media (max-width: 600px) {
  .content {
    flex-wrap: wrap;
  }
  .left {
    flex: 1 1 auto;
  }
  .right {
    margin: 0;
    margin-top: 20px;
  }
  .text {
    flex: 1 1 100%;
  }
}

@media (max-width: 500px) {
  .header {
    flex-wrap: wrap-reverse;
    margin-bottom: 10px;
    > p {
      flex: 1 1 100%;
      margin-bottom: 10px;
    }
  }
  .status {
    width: 24px;
    height: 24px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .text {
    font-size: 12px;
    // margin-right: 10px;
  }
}
