.premium {
  border-radius: 5px;
  border: 3px solid #33888a;

  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      81.28% 57.65% at 94.21% -27.9%,
      rgba(176, 146, 66, 0.2) 0%,
      rgba(176, 146, 66, 0) 100%
    ),
    #22252f;

  h3 {
    margin-bottom: 20px;
  }
}

.link {
  margin-top: 20px;
  text-decoration: underline;
  transition-duration: 100ms;
  @media (min-width: 901px) {
    &:hover {
      color: #ffd361;
    }
  }
}

.cup {
  width: 26px;
  height: 26px;
  margin-bottom: 20px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.btn {
  position: relative;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  padding: 0px 20px;
  max-width: 270px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 100ms;

  svg,
  span {
    position: relative;
    z-index: 1;
  }
  span {
    margin-left: 16px;
  }
  i {
    color: #ffd361;
    font-style: normal;
  }
}

@media (max-width: 500px) {
  .header {
    h3 {
      font-size: 16px;
    }
  }
}
