.body {
  position: absolute;
  right: 0;
  top: 40px;
  border-radius: 10px;
  background: #22252f;
  overflow: hidden;
  transition-duration: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  display: flex;
  z-index: 20;
}

.btn {
  flex: 0 0 56px;
  width: 56px;
  height: 46px !important;
  transition-duration: 100ms;
  border-radius: 0px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  img {
    width: 20px;
    height: 20px;
  }

  @media (min-width: 901px) {
    &:hover {
      background: #414450;
    }
  }
}

.copySuccess {
  padding: 10px;
  background-color: rgb(34, 37, 47);
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  transition-duration: 100ms;
  opacity: 0;
  width: 239px;
  text-align: center;
  bottom: 0px;

  &.show {
    opacity: 1;
    bottom: 20px;
  }
}
@media (max-width: 1250px) {
  .copySuccess {
    &.show {
      bottom: 86px;
    }
  }
}
