.body {
  position: absolute;
  right: 0;
  top: 35px;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  padding-top: 5px;
}

.active {
  opacity: 1;
  visibility: visible;
}
.wrapper {
  border-radius: 10px;
  background: #22252f;
  overflow: hidden;
  transition-duration: 0.2s;
  display: flex;
}

.btn {
  flex: 0 0 56px;
  width: 56px;
  height: 46px;
  transition-duration: 100ms;
  border-radius: 0px !important;
  margin-left: 0 !important;
  img {
    width: 20px;
    height: 20px;
  }

  @media (min-width: 901px) {
    &:hover {
      background: #414450;
    }
  }
}

@media (max-width: 1250px) {
  .btn {
    height: 46px !important;
  }
}
