.telegram {
  background: #378db8 !important;
  > span {
    white-space: nowrap;
    margin-left: 10px;
  }

  // @media (min-width: 901px) {
  //   &:hover {
  //     background: #424580 !important;
  //   }
  // }
}

.mob {
  display: none !important;
}

@media (max-width: 500px) {
  .telegram {
    display: none;
  }
  .mob {
    margin-top: 20px;
    display: flex !important;
  }
}
