.body {
  background: #293b45;
  border-radius: 5px;
  position: relative;
}

.header {
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  background-color: #242c36;
  padding: 10px;
}
.wrapper {
  padding: 20px;
  position: relative;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  > div {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.odds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 23px;
}

.mob {
  display: none;
}
.content {
  height: 89px;
}
.empty {
  display: flex;
  align-items: center;
  font-size: 12px;
  svg {
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .body {
    display: none;
  }
  .mob {
    display: block;
    margin-top: 20px;
  }
}
