.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background: rgba(101, 104, 118, 0.3);
  padding: 10px;
  justify-content: space-between;
}
.accWrapper {
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;

  button {
    padding: 10px;
    transition-duration: 100ms;
    &:active {
      background: rgba(101, 104, 118, 0.3);
    }
  }
}
