.timezone {
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;

  p {
    margin-left: 10px;
    font-weight: 700;
  }
}

.list {
  position: absolute;
  top: 30px;
  width: 100%;
  background-color: #22252f;
  border-radius: 5px;
  overflow: hidden;
  transition-duration: 100ms;
  opacity: 0;
  visibility: hidden;
  height: 300px;
  z-index: 2;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  button {
    font-size: 12px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    transition-duration: 100ms;
    font-weight: 700;
    @media (min-width: 901px) {
      &:hover {
        background-color: rgba(101, 104, 118, 0.3);
      }
    }
    &.active {
      background-color: var(--btn-active-color);
    }
  }
}
