.header {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  height: 82px;
  position: relative;
  background-color: var(--bg-main);
  top: 0px;
  z-index: 12;

  &__flex {
    display: flex;
    align-items: center;
  }

  &__bread {
    height: 100%;
    overflow: hidden;
    margin-left: 20px;
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
  }
}

@media (max-width: 1250px) {
  .header {
    > div {
      display: none;
    }
    &__bread {
      margin: 0;
      display: flex !important;
    }
  }
}
@media (max-width: 500px) {
  .header {
    // display: none;
    height: 35px;
    padding: 0;
    margin-bottom: 10px;
  }
}
