.body {
  position: absolute;
  overflow: hidden;
  top: 65px;
  right: 20px;
  width: 350px;
  border-radius: 10px;
  z-index: 20;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
      260.1% 120.1% at 50% 105.03%,
      rgba(26, 201, 239, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #22252f;
  transition-duration: 100ms;
  opacity: 0;
  visibility: hidden;
}

.open {
  opacity: 1;
  visibility: visible;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  p {
    font-size: 20px;
    font-weight: 700;
  }

  button {
    border-radius: 50%;
    flex: 0 0 35px;
    width: 35px;
    padding: 0 8px;

    svg {
      pointer-events: none;
    }
  }
}

.content {
  padding: 15px 20px;
  height: 341px;
}

.item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #d9d9d976;
  margin-right: 0px;
  align-items: center;
  > img,
  > svg {
    margin-right: 10px;
    width: 20px;
    flex: 0 0 20px;
    height: 20px;
    display: block;
  }

  &:last-child {
    border-bottom: 1px solid transparent;
  }

  button {
    flex: 0 0 31px;
    height: 31px;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 100ms;
    margin-left: auto;
    svg {
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
    @media (min-width: 901px) {
      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.itemTitle {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 12px;
}

.itemText {
  font-size: 14px;
  line-height: 1.4;
}

a.itemText {
  transition-duration: 100ms;
  @media (min-width: 901px) {
    &:hover {
      color: #dac285;
    }
  }
}

@media (max-width: 1250px) {
  .body {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
  }
}
