.body {
  flex: 0 0 350px;
  margin-left: 20px;
}
.content {
  height: 100%;
}

.scroll {
  height: 100vh;
  padding-top: 53px;
  height: calc(100dvh - 82px);
  position: sticky;
  top: var(--sticky-top-sidebar);
}

.item {
  margin-bottom: 20px;
}

@media (max-height: 841px) {
  .body {
    flex: 0 0 305px;
  }
}

@media (max-width: 1350px) {
  .body {
    flex: 0 0 300px;
  }
}

@media (max-width: 1200px) {
  .body {
    position: fixed;
    left: -350px;
    top: 0;
    width: 300px;
    background: rgba(34, 37, 47, 0.9);
    height: 100vh;
    height: 100dvh;
    z-index: 20;
    margin: 0;
    padding: 20px 10px;
    padding-bottom: 75px;
    box-shadow: 0px 0px 5px #000;
    transition-duration: 0.3s;
  }
  .active {
    left: 0;
  }
  .scroll {
    padding-top: 0;
  }

  .item {
    > div {
      padding: 0;
    }
  }
}

@media (max-width: 500px) {
  .body {
    width: 274px;
  }
}
