.body {
  flex: 0 0 350px;
  margin-left: 20px;
}
.content {
  height: 100%;
}

.scroll {
  height: 100vh;
  padding-top: 53px;
  height: calc(100dvh - 82px);
  position: sticky;
  top: var(--sticky-top-sidebar);
}

.item {
  margin-bottom: 20px;
}

@media (max-height: 841px) {
  .body {
    flex: 0 0 305px;
  }
}
