.body {
  border-radius: 5px;
  background-color: #31343f;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #22252f;
}
