.modal {
  padding-left: 20px;
  padding-right: 20px;
}
.body {
  border-radius: 5px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

.content {
  margin-top: 10px;
  height: 639px;
  padding-right: 10px;
}

@media (max-height: 874px) {
  .modal {
    padding-top: 5% !important;
  }
  .content {
    height: 530px;
  }
}

@media (max-height: 800px) {
  .modal {
    padding-top: 20px !important;
  }
}
@media (max-width: 900px) {
  .modal {
    padding: 0 !important;
  }
  .content {
    height: calc(100vh - 247px);
    height: calc(100dvh - 247px);
  }
}
