.body {
  border-radius: 5px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

.content {
  margin-top: 10px;
  height: 400px;
  padding-right: 10px;
}

@media (max-width: 900px) {
  .content {
    height: calc(100vh - 247px);
    height: calc(100dvh - 247px);
  }
}
