.body {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
    height: 22px;
  }
  p {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.list {
  position: absolute;
  top: 30px;
  width: 85px;
  background-color: #22252f;
  border-radius: 5px;
  overflow: hidden;
  transition-duration: 0.3s;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  button {
    font-size: 12px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    transition-duration: 0.3s;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (min-width: 901px) {
      &:hover {
        background-color: rgba(101, 104, 118, 0.3);
      }
    }
    &.active {
      background-color: #414450;
    }
  }
}
