.body {
}

.link {
  margin-top: 20px;
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }

  button {
    font-size: 16px;
    color: #45e9ff;
  }
}

.flex {
  display: flex;
  align-items: center;
  padding: 17px 0px;
  border-bottom: 1px solid #ffffff8e;
  margin-bottom: 20px;
}

.qr {
  margin-right: 20px;
  img,
  svg {
    width: 105px;
    height: auto;
  }
}

.text {
  font-size: 14px;
  p {
    margin-bottom: 5px;
  }
}

.btn {
  width: 100%;
  font-weight: 400 !important;
  height: 50px !important;
  font-size: 16px !important;
  background: linear-gradient(
    268deg,
    rgba(101, 104, 118, 0.3) -20.78%,
    rgba(92, 191, 233, 0.3) 95.9%
  ) !important;
}

@media (max-width: 600px) {
  .qr {
    display: none;
  }
}
