.page {
  font-size: 14px;
  flex: 1 1 auto;
  h1 {
    margin-bottom: 20px;
  }
  p {
    line-height: 1.5;
  }
  div,
  h2 {
    font-size: 14px;
    line-height: 1.5;
  }
  h2 {
    margin: 15px 0px;
  }
  a {
    text-decoration: underline;

    @media (min-width: 901px) {
      &:hover {
        color: #ffd361;
      }
    }
  }
}
@media (max-width: 500px) {
  .page {
    div,
    h2 {
      font-size: 12px;
    }
  }
}
