.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
  p button {
    text-decoration: underline;
    transition-duration: 100ms;

    @media (min-width: 901px) {
      &:hover {
        color: #dac285;
      }
    }
  }
}

.right {
  font-weight: 700;
  display: flex;
  align-items: center;

  p {
    margin-right: 10px;
  }
}

.footer {
  padding-top: 20px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.total {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 30px;
  span {
    color: #84eb88;
    font-size: 24px;
  }
}

.submit {
  width: 100%;
  height: 50px !important;
  margin-bottom: 20px;
}

.pol {
  opacity: 0.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 12px;

  svg {
    flex: 0 0 19px;
    margin-right: 10px;
  }
}

.gold {
  color: #ffd361;
}

@media (max-width: 500px) {
  .title {
    font-size: 16px;
  }

  .header {
    font-size: 12px;
  }
  .footer {
    padding-top: 16px;
  }
  .total {
    font-size: 14px;
    margin-bottom: 18px;
    span {
      font-size: 18px;
    }
  }
}
