.body {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.point {
  width: 21px;
  position: absolute;
  height: 21px;
  z-index: 5;
  border-radius: 50%;
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::before {
    content: "";
    width: 1px;
    height: 13px;
    background-color: #fff;
    border-radius: 5px;
  }

  // &:first-child {
  //   transform: translateX(-5px);
  // }
  // &:nth-last-child(-n + 2) {
  //   transform: translateX(5px);
  // }

  @media (min-width: 901px) {
    &:hover {
      background: rgba(255, 255, 255, 0.159);
    }
  }
}
