.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
  transition-duration: 100ms;
  position: relative;
  margin-top: 5px;
  &:first-child {
    margin-top: 0;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 100ms;
    position: relative;
    z-index: 2;
    i {
      line-height: 0;
      transition-duration: 100ms;
    }
  }
  a {
    height: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    max-width: 100%;
    flex: 1 1 auto;
    font-weight: 700;
    max-width: 100%;

    overflow: hidden;
    transition-duration: 100ms;
    img {
      flex: 0 0 15px;
      height: 15px;
      width: 15px;
      margin-right: 10px;
    }
    p {
      margin-left: auto;
      background-color: transparent;
    }
    > span {
      margin-right: 10px;
      flex: 1 1 auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:active {
      box-shadow: inset 0 4px 5.5px 0 rgba(0, 0, 0, 0.35);
    }
  }

  button {
    height: 100%;
    width: 25px;
    flex: 0 0 25px;
    transition-duration: 100ms;
    @media (min-width: 901px) {
      &:hover {
        background-color: #506572;
      }
    }

    &:active {
      box-shadow: inset 0 4px 5.5px 0 rgba(0, 0, 0, 0.35);
    }
  }

  @media (min-width: 901px) {
    &:hover {
      background-color: #ffffff1a;
    }
  }
  // &:active {
  //   box-shadow: inset 0 4px 5.5px 0 rgba(0, 0, 0, 0.35);
  // }
}

.open {
  background-color: #ffffff1a;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  button {
    background-color: #506572;
  }
}

.active {
  background-color: #6064c2 !important;

  &::before {
    z-index: 1;
  }
  button {
    @media (min-width: 901px) {
      &:hover {
        background-color: #22252f33 !important;
      }
    }
  }

  &.open {
    button {
      background-color: #22252f33 !important;
    }
  }
}

.titleSCountry,
.titleLeague {
  height: 30px;
  a {
    font-weight: 400;
  }
}
.titleSCountry {
  border-radius: 2px;

  &.open {
    background-color: #6064c2;

    button {
      background-color: #22252f33;
    }
  }
}

.titleLeague {
  padding-left: 27px;
  padding-right: 15px;
  &::before {
    display: none;
  }

  button {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.list {
  overflow: hidden;
  transition-duration: 100ms;
}
