.body {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 100;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: radial-gradient(
      324.42% 88.42% at 50% 66.52%,
      rgba(26, 201, 239, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    var(--Blocks-Secondary, #22252f);

  button,
  a {
    padding: 13px;
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    position: relative;
    z-index: 1;
    transition-duration: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .active {
    background: #39596b;
  }
}

@media (max-width: 1200px) {
  .body {
    display: flex;
  }
}

@media (max-width: 400px) {
  .body {
    button,
    a {
      margin-right: 10px;
    }
  }
}
