.body {
  margin-right: 10px;
}

.team {
  display: flex;
  align-items: center;

  p {
    max-width: 156px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:first-child {
    margin-bottom: 10px;
  }

  img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}
