.body {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 12px;
  color: #9c9c9c;
  font-weight: 700;
  transition-duration: 100ms;
  border-radius: 5px;
  position: relative;
  width: 100%;

  @media (min-width: 901px) {
    &:hover {
      background: #4e5c68;
      color: #fff;

      .right {
        > div {
          color: #fff;

          svg path {
            stroke: #fff;
          }
        }
      }
      .bet {
        svg path {
          stroke: transparent !important;
        }
      }
    }
  }
}

.href {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
}

.favorites {
  position: relative;
  z-index: 2;
}

.time {
  flex: 0 0 77px;
  width: 77px;
  text-align: center;
}

.first {
  height: 100%;

  button {
    margin-right: 20px;
    line-height: 0;
  }
  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    margin: 0px 20px;
    background: linear-gradient(
      179deg,
      rgba(84, 84, 84, 0) 0%,
      #545454 32.5%,
      #5b5b5b 69%,
      rgba(84, 84, 84, 0) 100%
    );
  }
}

.live {
  align-items: center;
  justify-content: center;
  p {
    margin-left: 6px;
  }
  .iconLive {
    animation: 0.5s linear 0s infinite alternate iconLive;
  }
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.bets {
  overflow: hidden;
  margin-right: 10px;
}

.bet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  &:first-child {
    margin-bottom: 5px;
  }
  p {
    white-space: nowrap;
    max-width: 355px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
  }
}

.betOdd {
  font-size: 14px;
}

.betStatus {
  width: 10px;
  height: 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  background-color: red;
}

@media (max-width: 600px) {
  .archive {
    flex-direction: column;
    border-radius: 5px;
    background: #354f62;
    margin-bottom: 5px;
    .right {
      position: relative;
      justify-content: flex-start;
    }
  }
  .bets {
    width: 100%;
    padding-top: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      display: block;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0.4;
      border-radius: 5px;
      height: 1px;
    }
  }
  .bet {
    flex: 1 1 auto;
    justify-content: flex-start;
    p:first-child {
      max-width: none;
    }
  }
  .betOdd {
    font-size: inherit !important;
    flex: 0 0 31px;
    margin-left: auto !important;
  }
}

@media (max-width: 440px) {
  .body {
    font-size: 10px;
    padding: 5px 10px;
  }
  .first {
    button {
      margin-right: 10px;
    }
    &::after {
      margin: 0 10px;
    }
  }
}

@keyframes iconLive {
  0% {
    box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
  }
}
