.body {
  display: flex;
  align-items: center;

  svg {
    margin-left: 10px;
  }
  p {
    width: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
  }

  color: #9c9c9c;
  font-weight: 700;
}

@media (max-width: 600px) {
  .body {
    display: none;
  }
}
