.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 23px;
  position: relative;
  p {
    font-weight: 700;
  }
}

.bar {
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 13px;
  margin-right: auto;
}

.title {
  flex: 0 0 51px;
}
