.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  white-space: nowrap;
  padding: 0px 9px;
  height: 30px;
  border-radius: 5px;
  background: #22252f;
  transition: border-radius 0.3s 0.3s, background-color 0.3s;
  @media (min-width: 901px) {
    &:hover {
      background-color: #656876;
    }
  }
}
.text {
  max-width: 0;
  overflow: hidden;
  margin-left: 0px;
  transition-duration: 100ms;
}
.color {
  flex: 0 0 12px;
  height: 12px;
  width: 12px;

  border-radius: 50%;
}

.body {
  input {
    display: none;
  }

  input:checked + label {
    transition-delay: 0s;
    border-radius: 5px;
    .text {
      max-width: 90px;
      margin-left: 5px;
      // transition-delay: 0.3s;
    }
  }
}
