.page {
  > div {
    margin-bottom: 20px;
  }
}

.buttons {
  button {
    margin-left: 7px;
    background-color: transparent;
  }
}

.person {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  margin-right: auto;
  svg {
    margin-right: 10px;
  }
}

.eventTotal {
  display: flex;
  align-items: center;
  margin-left: auto;

  p {
    font-weight: 700;
    margin-right: 10px;
  }
}

.buttonsTable {
  display: flex;
  align-items: center;

  button {
    margin-right: 10px;
    padding: 0px 7px;
    height: 30px;
    background: transparent;
    &:last-child {
      margin-right: 17px;
    }
  }
}

.view {
  display: flex !important;
  p {
    width: auto;
  }
}

.analysis {
  margin-top: 40px;
}

.events {
  margin-top: 40px;
  h2 {
    font-weight: 700;
    font-size: 20px;
  }

  > div {
    margin-bottom: 20px;
  }
}

.text {
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.recommend {
  margin-top: 40px;
  margin-bottom: 0 !important;
}

.eventsOne {
  padding: 80px 0px;
  padding-bottom: 60px;
}

@media (max-width: 1250px) {
  .buttonsTable {
    display: flex;
  }
  .buttons {
    display: none;
  }
}

@media (max-width: 500px) {
  .analysis {
    padding: 0px 23px;
    > div > p {
      margin-bottom: 15px !important;
    }
  }
  .analysisText {
    font-size: 12px !important;
  }
  .eventsOne {
    padding: 0px 0px;
  }
}

@media (max-width: 500px) {
  .eventTotal {
    display: none;
  }
}
