.page {
  > div {
    margin-bottom: 20px;
  }
}

.buttons {
  button {
    margin-left: 7px;
  }
}

.buttonsTable {
  display: none;
  align-items: center;
  margin-left: auto;

  button {
    margin-right: 10px;

    background: transparent;
  }
}

.person {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  svg {
    margin-right: 10px;
  }
}

.view {
  display: flex !important;
}

.analysis {
  margin-top: 40px;
}

.events {
  margin-top: 40px;
  h2 {
    font-weight: 700;
    font-size: 20px;
  }

  > div {
    margin-bottom: 20px;
  }
}

.text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.recommend {
  margin-top: 40px;
  margin-bottom: 0 !important;
}

@media (max-width: 1250px) {
  .buttonsTable {
    display: flex;
  }
  .buttons {
    display: none;
  }
}
