.body {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin-bottom: 3px;
  margin-right: 10px;
}

.selectTitle {
  padding: 10px 20px;
  img {
    display: none;
  }
}
.selectContent {
  background: rgb(41, 44, 54);
}

@media (max-width: 700px) {
  .body {
    flex: 1 1 100%;
    margin-right: 0;
    order: 2;
    > div {
      flex: 0 0 auto !important;
      max-width: none !important;
      width: calc(33.333% - 7px) !important;
      z-index: 1;
    }
  }
}

@media (max-width: 500px) {
  .body {
    flex: 1 1 100%;
    order: 2;
    margin-right: 0px;
    flex-wrap: wrap;
    > div {
      flex: 1 1 100% !important;
      margin-right: 0 !important;
      margin-bottom: 5px;
      z-index: 1;
    }
  }
  .selectContent {
    z-index: 1;
  }
}
