.page {
  flex: 1 1 auto;
  h1 {
    margin-bottom: 20px;
  }
}
.content {
  > div {
    margin-bottom: 20px;
  }
}
.accHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.acc {
  font-size: 14px;
  p {
    line-height: 1.5;
  }
  span {
    transition-duration: 100ms;
  }
}

.accBody {
  transition-duration: 100ms;
  overflow: hidden;
}

@media (max-width: 500px) {
  .page {
    h2 {
      font-size: 16px;
    }
  }
  .acc {
    font-size: 12px;
  }
}
