.track {
  background-color: rgba(71, 75, 86, 0.87);
  height: 100%;
  right: 0;
  width: 2px !important;
  display: flex;
  justify-content: center;
}

.trumb {
  background-color: #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
  width: 2px !important;
}

.big {
  .track {
    right: 3px;
  }
  .trumb {
    width: 4px !important;
    flex: 0 0 4px;
  }
}
