.track {
  background-color: rgba(71, 75, 86, 0.87);
  height: 100%;
  right: 0;
  width: 3px;
  display: flex;
  justify-content: center;
}

.trumb {
  background-color: #d9d9d9;
  border-radius: 5px;
  width: 2px !important;
}
